#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.progress-bar {
  animation: progress 2s ease-in-out infinite;
}

@keyframes progress {
  0% {
    width: 0;
  }
  50% {
    width: 75%;
  }
  100% {
    width: 0;
  }
}
